<p>Hi <%= @user_name %>,</p>
<p>Welcome and thank you for choosing workeasy.</p>
<p>To activate your newly created account, <a href="https://app.workeasy.ie/accounts/password_reset?email=<%= @user_email %>&token=<%= @user_confirmation_token %>">follow this link and complete the steps outlined</a>.</p>
<p>If you experenice any issues simply left click copy the link and past it into a browser url bar </p>
<p>Workeasy</p>